:root {
  font-size: 16;
  background-color: var(--bgc-primary);
  --digits-color: hsl(204, 22%, 53%);
  --black: hsl(0,0,0);
  --bgc-primary: hsl(184, 8%, 59%);
  --calculator-color: hsl(0, 4%, 33%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  height: auto;
  min-width: 60vw;
  margin: auto;
  border-radius: .5rem;
  background-color: var(--calculator-color);
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.display {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  gap: 20px;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  background-color: white;
  width: 100%;
  font-size: 1.5rem;
}

.btns-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-areas: 
  "op op op op"
  "dig dig dig op"
  "dig dig dig op"
  "dig dig dig op"
  "dot dig equal equal";
  width: 100%;
}

button {
  border-radius: 0;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  height: 15vh;
  width: auto;
  padding: 0;
}

.equal {
  grid-column: span 2;
}

.dot {
  border-bottom-left-radius: .5rem;
}